<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <meta name="viewport" content="initial-scale=1, maximum-scale=1">
            <link rel="stylesheet" href="style.css" />
            <title>Alexandra Pardo Fotografía - {% block title %}{% endblock %}</title>
        {% endblock %}

    </head>
    <body>
        <div id="header">
            <nav class="nav-lista">
                <div class="row">
                    <div class="col-xs-2 col-xs-offset-0 col-md-2 col-md-offset-1 no-padding">
                        <a href="{{ path_for('blog') }}" class="nav-link">Blog</a>
                    </div>
                    <div class="col-xs-3 col-md-2 no-padding">
                        <a href="{{ path_for('acerca') }}" class="nav-link">Acerca de mi</a>
                    </div>
                    <div class="col-xs-2 col-md-2 no-padding">
                        <div class="logo-container">
                            <div class="floating-logo">
                                <a href="{{ path_for('inicio') }}" class="nav-link">
                                    <img src="img/logo.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-2 no-padding">
                        <a href="{{ path_for('portafolio') }}" class="nav-link">Portafolio</a>
                    </div>
                    <div class="col-xs-2 col-md-2 no-padding">
                        <a href="{{ path_for('contacto') }}" class="nav-link">Contacto</a>
                    </div>                    
                </div>
            </nav>
            <nav class="nav-lista-xs">
                <ul>
                    <li class="logo-container">
                        <div class="floating-logo">
                            <a href="{{ path_for('inicio') }}" class="nav-link">
                                <img src="img/logo.png">
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
       <div id="footer">
        <nav class="nav-lista-footer">
            <ul>
                <li>
                    <a href="https://www.facebook.com/apvfotografia"><span class="img-icon icon-facebook"></span></a>
                </li>
                <li>
                    <a href="https://es.pinterest.com/Alebrie/phototography/"><span class="img-icon icon-pinterest"></span></a>
                </li>
                <li>
                    <a href="http://alexandrapardofotografia.tumblr.com/"><span class="img-icon icon-tumblr"></span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/apv.fotografia/"><span class="img-icon icon-instagram"></span></a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/room409"><span class="img-icon icon-flickr"></span></a>
                </li>
            </ul>
         </nav>
    </div>

    </body>
</html>