{% extends "base.html" %}
{% block title %}contacto{% endblock %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Alexandra Pardo Fotografía - Blog</title>
	<!--
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage fixed header and footer." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fixed, header,footer, absolute, positioned,css" />
	<meta name="Resource-type" content="Document" /> -->
	<link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="css/flexboxgrid.min.css" />
	<link rel="stylesheet" type="text/css" href="css/general.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
{% endblock %}

{% block content %}
    <div class="contenedor">
    	<div class="post">
    		<div class="row">
		    	<div class="col-md-6 col-md-offset-3">
		    		<h2 class="titulo-post texto-centrado">Matozo + Ara | Fotografía embarazo 2016</h2>
		    		
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-md-6 col-md-offset-3">
		    		<h2 class="texto-secundario texto-centrado"><span class="img-icon font-16 icon-location-pin"></span>En tal lugar...</h2>
		    		<h2 class="texto-secundario texto-derecha">10/05/2016</h2>
		    	</div>
		    </div>
			<div class="row">
		    	<div class="col-md-6 col-md-offset-3">
		      		<img class="img-blog-portada" src="img/blog/post_1/portada.jpg">
		    		<p class="contenido-parrafo">
		    		Hace muchísimo tiempo no tenía una sesión de embarazo tan bonita como la de Matozo y Ara.
					Ambos son de Brasil, por lo que el Pequeño Vicente que muy pronto estará por nacer, tuvo la fortuna de haber pasado sus últimos días en la pancita en Playas Chilenas. 
					Estamos en Invierno, pero el agua estaba tan tibiecita y cálida, que nunca está de más atreverse a estos exteriores para una sesión de Invierno. 
					 Ara siempre tan radiante con su sonrisa junto a la de Matozo, hicieron de estas fotos un muy lindo recuerdo!
					</p>
				</div>
			</div>
			<div class="row footer-post">
				<div class="col-md-3 col-md-offset-3 texto-left texto-tag">
					#PREGNANCY
				</div>
				<div class="col-md-3 texto-derecha texto-normal">
					<span class="img-icon icon-eye"></span>45
					<span class="img-icon icon-message"></span>23
					<span class="img-icon icon-share"></span>
				</div>				
			</div>
		</div>
    </div>
{% endblock %}