{% extends "base.html" %}
{% block title %}contacto{% endblock %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Alexandra Pardo Fotografía - Blog</title>
	<!--
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage fixed header and footer." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fixed, header,footer, absolute, positioned,css" />
	<meta name="Resource-type" content="Document" /> -->
	<link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="css/flexboxgrid.min.css" />
	<link rel="stylesheet" type="text/css" href="css/general.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
{% endblock %}

{% block content %}
    <div class="contenedor">      	 	
     	{% for post in posts %} 
    	<div class="post">
    		<div class="row">
		    	<div class="col-md-6 col-md-offset-3">
		    		<h2 class="titulo-post texto-centrado"><a href="{{ path_for('post', {'post':post.ID_PUBLICACION}) }}">{{ post.TITULO_PUBLICACION }}</a></h2>
		    	</div>
		    </div>
		    <div class="row center-xs start-md">
		    	<div class="col-md-6 col-md-offset-3">
		    		<h2 class="texto-secundario texto-centrado"><span class="img-icon font-16 icon-location-pin"></span>{{ post.LUGAR_PUBLICACION }}</h2>
		    	</div>
		    </div>
		    <div class="row center-xs start-md">
		    	<div class="col-md-6 col-md-offset-3">
		    		<h2 class="texto-secundario texto-derecha">{{ post.FECHA_PUBLICACION }}</h2>
		    	</div>
		    </div>
			<div class="row">
		    	<div class="col-md-6 col-md-offset-3">
		      		<img class="img-blog-portada" src="img/blog/post_1/portada.jpg">
		    		<p class="contenido-parrafo">
		    		{{ post.DESCRIPCION_PUBLICACION }}
					</p>
				</div>
			</div>
			<div class="row footer-post">
				<div class="col-md-6 col-md-offset-3 texto-left texto-tag">
					{% for tag in post.tags %}
						{{ tag.NOMBRE_ETIQUETA }}
					{% endfor %}
				</div>
			</div>
			<div class="row footer-post end-xs start-md">		
				<div class="col-md-6 col-md-offset-3 texto-derecha texto-normal">
					<span class="img-icon icon-eye"></span>{{ post.VISITAS_PUBLICACION }}
					<span class="img-icon icon-message"></span>{{ post.NUMERO_COMENTARIOS }}
					<span class="img-icon icon-share"></span>
				</div>				
			</div>
		</div>
		{% endfor %}
    </div>
{% endblock %}